.container{
    font-family: 'Roboto, sans-serif';
}

.btn-skill{
    background-image: linear-gradient(to right, rgb(247, 94, 77), rgb(177, 90, 90), darkslategrey);
    color:rgb(15, 121, 228);
    text-transform: uppercase;
    border-color: transparent;
    font-size: 1.1rem;
    border-radius: 8px;
    font-weight: 600;
}
/* .btn-brand{
    background-image: linear-gradient(75deg, #19D3AE, #0fcfec);
    background-image: linear-gradient(to right, rgb(247, 94, 77), gray, darkslategrey);
    border-color: transparent;
    text-transform: uppercase;
    font-weight: 600;
  } */